<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="inova.popeproject.views.tools"
          name="POPE View"
          class="ToolsPlugin"
          icon="resources/PopeIcon.png"
          closeable="false"
          moveable="false"
          showTitle="false"
          standalone="true"
    />
  </extension>
  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.ToolsPluginPreferencePage" name="POPE View" class="ToolsPluginPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.ToolsPluginPreferencePageKeywords">
      </keywordreference>
    </page>
  </extension>
  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.gui.qt.application.ToolsPluginPreferencePageKeywords" label="POPE" />
    <keyword id="org.mitk.gui.qt.application.ToolsPluginPreferencePageKeywords" label="View" />
    <keyword id="org.mitk.gui.qt.application.ToolsPluginPreferencePageKeywords" label="Preferences" />
    <keyword id="org.mitk.gui.qt.application.ToolsPluginPreferencePageKeywords" label="Settings" />
  </extension>
</plugin>
