<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="inova.registration.views.rigidregistration"
          name="Digid Registration"
          class="RegistrationPlugin"
          icon="resources/RegistrationIcon.xpm"
    />
          <!--closeable="false"
          moveable="false"
          showTitle="false"
          standalone="true"-->
  </extension>
  <extension point="org.blueberry.ui.preferencePages">
    <page id="inova.registration.views.rigidregistrationPreferencePage" name="Registration" class="RegistrationPluginPreferencePage">
      <keywordreference id="inova.registration.views.rigidregistrationPreferencePageKeywords">
      </keywordreference>
    </page>
  </extension>
  <extension point="org.blueberry.ui.keywords">
    <keyword id="inova.registration.views.rigidregistrationPreferencePageKeywords" label="Registration" />/>
    <keyword id="inova.registration.views.rigidregistrationPreferencePageKeywords" label="Rigid" />
  </extension>
</plugin>
