IDI_ICON1               ICON    DISCARDABLE     "../../../Plugins/my.organprint.minimalapplication/resources/Organ_print_icon.ico"
GLFW_ICON               ICON                    "../../../Plugins/my.organprint.minimalapplication/resources/Organ_print_icon.ico"