<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="my.popeproject.views.segmentation"
          name="Segmentation View"
          class="SegmentationView"
          icon="resources/SegmentationIcon.png"
          closeable="false"
          moveable="false"
          showTitle="false"
          standalone="true"
    />
  </extension>
</plugin>
