<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="inova.organprint.apps.app" point="org.blueberry.osgi.applications">
    <application>
      <run class="OrganPrintApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="inova.organprint.OrganPrintPerspective"
      name="OrganPrint Perspective"
      class="OrganPrintPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

</plugin>
