<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
  <!--
    <view id="my.organprint.views.sidepanel"
          name="Awesome View"
          class="AwesomeView"
          icon="resources/AwesomeIcon.png" />-->


<view id="my.organprint.views.importpanel"
      name="Import Panel"
      class="orgpnt::ImportPanel"
      icon="resources/AwesomeIcon.png" />
  </extension>
</plugin>
