<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="inova.registration.views.registrationalgorithms"
          name="Registration Algorithms"
          class="RegistrationAlgorithms"
		  category="Registration"
          icon="resources/icon.png" />
  </extension>

</plugin>
