IDI_ICON1               ICON    DISCARDABLE     "../../../Plugins/my.popeproject.mainapplication/resources/POPE_icon.ico"
GLFW_ICON               ICON                    "../../../Plugins/my.popeproject.mainapplication/resources/POPE_icon.ico"