IDI_ICON1               ICON    DISCARDABLE     "../../../Plugins/inova.popeproject.apps.mainapplication/resources/POPE_icon.ico"
GLFW_ICON               ICON                    "../../../Plugins/inova.popeproject.apps.mainapplication/resources/POPE_icon.ico"